body {
  font-family: "Gotham Pro";
  font-size: 18px;
  line-height: 20px;
  lletter-spacing: 0.1px; }

h1 {
  font-size: 35px; }

h2 {
  font-size: 22px; }

.hidden {
  display: none !important; }

.twist {
  max-height: 2000px !important; }

.main-head {
  height: 796px;
  padding-top: 39px;
  background: url("../img/header-bg.png") center; }

.button {
  display: block;
  position: relative;
  width: 304px;
  height: 72px;
  margin-left: 145px;
  margin-top: 15px;
  padding-top: 24px;
  padding-left: 36px;
  color: #ffffff;
  font-weight: 500;
  background: linear-gradient(to top, #63a440, #7dce4e);
  border-bottom: 3px solid #4c8d27;
  border-radius: 50px;
  box-shadow: 0 5px 10px #bbdba8;
  -moz-transition-property: box-shadow;
  -o-transition-property: box-shadow;
  -webkit-transition-property: box-shadow;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s; }
  .button:hover {
    background: linear-gradient(to top, #68aa44, #88d659);
    box-shadow: 0 5px 20px #91c572;
    text-decoration: none; }

.dots-wrap {
  display: flex;
  justify-content: center; }
  .dots-wrap .dots {
    margin-top: 20px; }
    .dots-wrap .dots div {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 8px;
      background-color: #343434; }

.steps .dots-wrap .dots div {
  background-color: #ffffff; }

.select {
  background-color: #67ab42 !important; }

.logo a {
  display: block;
  margin-top: 12px;
  margin-left: -33px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 600; }
  .logo a:hover {
    text-decoration: none; }

.slogan p {
  width: 350px;
  margin-left: -68px;
  letter-spacing: -1.3px;
  font-weight: 100; }

.phone {
  position: relative; }
  .phone a {
    font-weight: 100; }
    .phone a:first-child {
      margin-left: 45px; }
    .phone a:nth-child(2) {
      margin-left: 10px; }
  .phone .call-back {
    position: absolute;
    width: 216px;
    top: 22px;
    left: 187px;
    cursor: pointer;
    letter-spacing: -1.3px;
    color: #000000;
    text-decoration: underline #a8a7a7; }
  .phone span {
    position: absolute;
    width: 211px;
    top: -2px;
    left: 185px;
    font-size: 22px;
    font-weight: 500; }

.main-screen {
  padding-top: 43px; }
  .main-screen h1 {
    width: 100%;
    margin-left: -33px;
    font-size: 40px;
    font-weight: 600;
    line-height: 57px;
    letter-spacing: -0.3px; }
  .main-screen span {
    color: #67ab42; }
  .main-screen p {
    width: 90%;
    margin-top: 17px;
    margin-left: -33px;
    font-size: 25px;
    font-weight: 100;
    line-height: 30px;
    letter-spacing: -0.2px; }

.main-butns .tool {
  position: relative;
  padding-top: 45px;
  padding-left: 92px;
  font-weight: 100; }
  .main-butns .tool::before {
    content: "";
    position: absolute;
    width: 92px;
    height: 42px;
    top: 35px;
    left: -35px;
    background: url(../img/tool.svg) no-repeat; }
.main-butns .van {
  position: relative;
  padding-top: 36px;
  padding-left: 95px;
  line-height: 25px;
  font-weight: 100; }
  .main-butns .van::before {
    content: "";
    position: absolute;
    width: 102px;
    height: 42px;
    top: 40px;
    left: -38px;
    background: url(../img/van.svg) no-repeat; }
.main-butns .calculate {
  display: flex;
  align-items: center;
  margin-top: 65px;
  margin-left: -30px;
  width: 376px;
  height: 83px;
  color: #ffffff;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  background: linear-gradient(to top, #63a440, #7dce4e);
  border-bottom: 3px solid #4c8d27;
  border-radius: 40px;
  box-shadow: 0 10px 16px #bbdba8;
  -moz-transition-property: background, box-shadow;
  -o-transition-property: background, box-shadow;
  -webkit-transition-property: background, box-shadow;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s; }
  .main-butns .calculate:hover {
    background: linear-gradient(to top, #68aa44, #88d659);
    box-shadow: 0 10px 20px #91c572; }
  .main-butns .calculate span {
    position: relative;
    margin-left: 45px;
    cursor: pointer; }
    .main-butns .calculate span::after {
      content: "";
      position: absolute;
      left: 259px;
      width: 25px;
      height: 25px;
      background: url(../img/arrow.svg) center no-repeat;
      filter: brightness(100); }

.mob-bg {
  position: relative;
  left: 0px;
  height: 372px;
  background: url(../img/main-bg-mob.jpg) no-repeat;
  background-size: cover; }

.video-wrap {
  position: absolute;
  top: 468px; }
  .video-wrap .videos {
    padding-left: 272px; }
    .video-wrap .videos .under-wrap {
      display: inline-block;
      position: relative;
      width: 205px;
      height: 58px;
      top: -25px;
      padding-top: 5px;
      padding-left: 39px;
      border-radius: 5px;
      font-size: 16px;
      font-weight: 100;
      background-color: #fff;
      line-height: 23px; }
    .video-wrap .videos .play {
      display: inline-block;
      position: relative;
      width: 83px;
      height: 83px;
      margin: 0;
      left: 22px;
      cursor: pointer;
      background: linear-gradient(to top, #63a440, #7dce4e);
      border-radius: 50px;
      z-index: 500;
      -moz-transition-property: background;
      -o-transition-property: background;
      -webkit-transition-property: background; }
      .video-wrap .videos .play:hover {
        background: linear-gradient(to top, #6bae46, #86d856); }
      .video-wrap .videos .play::before {
        content: "";
        position: absolute;
        width: 27px;
        height: 27px;
        top: 28px;
        left: 32px;
        background-image: url(../img/play.svg);
        filter: brightness(100); }
    .video-wrap .videos .under {
      border-bottom: 1px solid gray;
      line-height: 2px; }

.presipresentation {
  padding-top: 87px; }
  .presipresentation .pres-1, .presipresentation .pres-2, .presipresentation .pres-3 {
    width: 380px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0px 15px 30px #ebebeb; }
  .presipresentation .pres-1, .presipresentation .pres-2 {
    margin-right: 15px; }
  .presipresentation h2 {
    margin-top: 26px;
    text-align: center; }
  .presipresentation p {
    text-align: center;
    line-height: 25px;
    letter-spacing: -0.2px;
    font-weight: 100; }
  .presipresentation .pres-1 h2 {
    text-align: center; }
  .presipresentation .pres-1 p {
    padding-top: 10px;
    padding-left: 23px;
    padding-right: 23px;
    padding-bottom: 14px; }
  .presipresentation .pres-2 h2 {
    padding-left: 30px;
    padding-right: 25px;
    line-height: 30px; }
  .presipresentation .pres-2 p {
    padding-left: 15px;
    padding-right: 15px; }
  .presipresentation .pres-3 p {
    padding-top: 10px;
    padding-left: 28px;
    padding-right: 28px; }

.download {
  height: 747px;
  margin-top: 86px;
  background: url(../img/download-pres.png) center; }
  .download .download-hl {
    text-align: center;
    color: #ffffff;
    padding-top: 45px; }
    .download .download-hl h1 {
      line-height: 44px; }
    .download .download-hl span {
      color: #67ab42; }
    .download .download-hl p {
      padding-top: 8px;
      letter-spacing: -0.2px;
      font-weight: 100; }
  .download .download-btn {
    position: relative;
    cursor: pointer; }
    .download .download-btn span {
      text-shadow: 0 1px 0px #4a8929; }
      .download .download-btn span:after {
        content: "";
        position: absolute;
        display: inline-block;
        left: 251px;
        top: 25px;
        width: 19px;
        height: 19px;
        background-image: url(../img/download.svg);
        filter: brightness(100); }

.dnl-form-mob {
  position: relative;
  display: none;
  width: 357px;
  height: 420px;
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  padding-top: 110px;
  box-shadow: 0px 15px 30px -10px #d4d4d4;
  font-size: 16px; }
  .dnl-form-mob::before {
    position: absolute;
    content: "";
    width: 261px;
    height: 299px;
    top: -190px;
    left: 37px;
    background: url(../img/book.png) center no-repeat;
    background-size: cover; }
  .dnl-form-mob #download-phone {
    margin-left: 0px !important; }
  .dnl-form-mob h2 {
    width: 242px !important;
    font-size: 16px;
    margin-left: 60px !important; }
  .dnl-form-mob .download-btn {
    margin-left: 30px !important;
    padding-left: 0px; }
  .dnl-form-mob .agreement {
    margin-left: 24px !important; }
    .dnl-form-mob .agreement::before {
      left: 30px !important; }

.dwnld-form {
  margin-top: 105px; }
  .dwnld-form h2 {
    width: 350px;
    margin-left: 126px;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 30px; }

#download-phone {
  display: inline-block;
  position: relative;
  width: 304px;
  height: 60px;
  margin-top: 20px;
  margin-left: 145px;
  padding-left: 63px;
  border: none;
  border-radius: 40px;
  box-shadow: inset 0 3px 20px #ebebeb;
  font-size: 15px;
  font-weight: 100; }
  #download-phone:focus {
    outline: none; }

.phone-ico {
  position: relative; }
  .phone-ico::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 18px;
    left: -274px;
    top: -7px;
    background: url(../img/telephone.svg);
    background-repeat: no-repeat; }

.dwnld-form .agreement {
  display: block;
  position: relative;
  margin-left: 188px;
  font-size: 10px;
  font-weight: 500;
  padding: 10px; }
  .dwnld-form .agreement::before {
    content: url(../img/check.png);
    position: absolute;
    left: -14px;
    top: 12px;
    width: 15px;
    height: 15px; }
  .dwnld-form .agreement span {
    border-bottom: 1px solid #d4d4d4; }

.materials {
  padding-top: 77px;
  text-align: center; }
  .materials h1 {
    width: 600px; }
    .materials h1 span {
      color: #67ab42; }
  .materials .material-photo {
    margin-top: 60px;
    min-width: 71% !important; }
    .materials .material-photo h2 {
      margin-top: 30px;
      font-weight: 600;
      margin-bottom: 30px; }

.rooms {
  padding-top: 83px; }
  .rooms h1 {
    text-align: center; }
  .rooms .row {
    width: 100%; }
  .rooms span {
    color: #67ab42; }

.room-row-1, .room-row-2 {
  max-width: 1200px;
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  .room-row-1 h2, .room-row-2 h2 {
    margin-top: 30px; }

.room-row-2 {
  margin-top: 35px; }

.room-wrap {
  width: 228px;
  height: 349px;
  border-radius: 10px;
  box-shadow: 0px 15px 30px #ebebeb; }

.garderob {
  height: auto; }
  .garderob h2 {
    padding-bottom: 25px; }

.room-row-1 .left-arrow, .room-row-1 .right-arrow, .items-wrap .left-arrow, .items-wrap .right-arrow, .material-photo .left-arrow, .material-photo .right-arrow {
  width: 60px;
  cursor: pointer; }
  .room-row-1 .left-arrow img, .room-row-1 .right-arrow img, .items-wrap .left-arrow img, .items-wrap .right-arrow img, .material-photo .left-arrow img, .material-photo .right-arrow img {
    margin-top: 160px;
    height: 22px; }

.items-wrap .left-arrow, .items-wrap .right-arrow {
  padding-left: 18px; }

.material-photo .right-arrow img, .material-photo .left-arrow img {
  margin-top: 122px; }

.frozen {
  height: 593px;
  margin-top: 85px;
  background-image: url(../img/froze-bg.png);
  background-position: center;
  background-repeat: no-repeat; }
  .frozen h1 {
    margin-top: 125px;
    margin-bottom: 23px;
    font-size: 39px;
    font-weight: 500;
    letter-spacing: -0.5px;
    line-height: 50px; }
    .frozen h1 span {
      color: #67ab42; }
  .frozen .fr-wrap {
    margin-left: -31px;
    color: #ffffff; }
    .frozen .fr-wrap .stock {
      display: block;
      position: relative;
      margin-bottom: 24px;
      padding-left: 50px;
      letter-spacing: 0.2px;
      font-weight: 100; }
      .frozen .fr-wrap .stock::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        left: 0px;
        top: -8px;
        background-image: url(../img/gift.svg); }
      .frozen .fr-wrap .stock span {
        color: #67ab42;
        font-weight: 500; }
    .frozen .fr-wrap p {
      width: 540px;
      line-height: 25px;
      font-weight: 100; }
    .frozen .fr-wrap .disigner {
      display: block;
      position: relative;
      padding-top: 25px;
      padding-left: 80px;
      font-size: 16px;
      font-weight: 100; }
      .frozen .fr-wrap .disigner::before {
        content: "";
        position: absolute;
        width: 62px;
        height: 79px;
        top: -3px;
        left: 0px;
        background-image: url(../img/designer.png); }
      .frozen .fr-wrap .disigner span {
        display: block; }
  .frozen .frozen-form {
    width: 412px;
    height: 444px;
    margin-top: 75px;
    margin-left: 156px;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    padding-top: 57px; }
    .frozen .frozen-form h2 {
      width: 290px;
      font-size: 23px;
      font-weight: 600; }
      .frozen .frozen-form h2:last-child {
        margin-top: -6px; }
    .frozen .frozen-form .frozen-btn {
      margin-left: 46px;
      margin-top: 10px;
      padding-left: 0px; }
      .frozen .frozen-form .frozen-btn span {
        text-shadow: 0 1px 0px #4a8929; }

#frozen-name, #test-name, #test-phone {
  display: inline-block;
  position: relative;
  width: 304px;
  height: 60px;
  margin-top: 23px;
  padding-left: 63px;
  border: none;
  border-radius: 40px;
  box-shadow: inset 0 5px 20px #ebebeb;
  font-size: 15px;
  font-weight: 100; }
  #frozen-name:focus, #test-name:focus, #test-phone:focus {
    outline: none; }

#frozen-phone {
  display: inline-block;
  position: relative;
  width: 304px;
  height: 60px;
  margin-top: 10px;
  padding-left: 63px;
  border: none;
  border-radius: 40px;
  box-shadow: inset 0 5px 20px #ebebeb;
  font-size: 15px;
  font-weight: 100; }
  #frozen-phone:focus {
    outline: none; }

.user-ico {
  position: relative; }
  .user-ico::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 18px;
    left: -274px;
    top: -7px;
    background: url(../img/user.svg);
    background-repeat: no-repeat; }

.frozen-agreement, .test-form .test-check {
  display: block;
  position: relative;
  margin-top: 11px;
  padding-left: 28px;
  font-size: 10px;
  font-weight: 500; }
  .frozen-agreement span, .test-form .test-check span {
    color: #000000;
    border-bottom: 1px solid #d4d4d4; }
  .frozen-agreement::before, .test-form .test-check::before {
    content: url(../img/check.png);
    position: absolute;
    left: 83px;
    top: 3px;
    width: 15px;
    height: 15px; }

.gallery {
  margin-top: 78px;
  text-align: center; }
  .gallery h1 {
    letter-spacing: -0.3px;
    font-weight: 600; }
    .gallery h1 span {
      color: #67ab42; }

.gallery-wrap {
  width: 100%;
  max-height: 757px;
  overflow: hidden;
  margin-top: 56px; }
  .gallery-wrap .g-item {
    padding: 3px; }
    .gallery-wrap .g-item a {
      position: relative; }
      .gallery-wrap .g-item a::before {
        content: "";
        position: absolute;
        width: 374px;
        height: 374px;
        left: -187px;
        z-index: 500;
        -moz-transition-property: background-color, content;
        -o-transition-property: background-color, content;
        -webkit-transition-property: background-color, content;
        -moz-transition-duration: 0.7s;
        -o-transition-duration: 0.7s;
        -webkit-transition-duration: 0.7s; }
      .gallery-wrap .g-item a::after {
        content: url(../img/addition.svg);
        position: absolute;
        width: 59px;
        height: 59px;
        top: -205px;
        left: -20px;
        visibility: hidden;
        opacity: 0;
        z-index: 500;
        -moz-transition-property: visibility, opacity;
        -o-transition-property: visibility, opacity;
        -webkit-transition-property: visibility, opacity;
        -moz-transition-duration: 0.7s;
        -o-transition-duration: 0.7s;
        -webkit-transition-duration: 0.7s; }
      .gallery-wrap .g-item a:hover::before {
        background-color: rgba(0, 0, 0, 0.7); }
      .gallery-wrap .g-item a:hover::after {
        visibility: visible;
        opacity: 1; }

.pop-g .img-1, .pop-g .img-2, .pop-g .img-3, .pop-g .img-4, .pop-g .img-5, .pop-g .img-6, .pop-g .img-7, .pop-g .img-8, .pop-g .img-9, .pop-g .img-10 {
  position: relative;
  width: 374px;
  height: 374px;
  background-position: center center;
  background-size: cover; }

.gal-btn-wrap {
  cursor: pointer;
  margin-top: 10px; }

.test-drive {
  width: 100%;
  height: 1332px;
  margin-top: 28px;
  background: url(../img/garanty-bg.png) center no-repeat; }
  .test-drive h1 {
    margin-top: 44px;
    margin-left: -35px;
    font-size: 47px;
    font-weight: 500;
    letter-spacing: -0.4px;
    line-height: 60px; }
    .test-drive h1 span {
      color: #67ab42; }
  .test-drive p {
    width: 515px;
    margin-top: 25px;
    margin-left: -30px;
    letter-spacing: -0.2px;
    line-height: 25px; }
  .test-drive .garanty-m, .test-drive .garanty-o {
    display: flex;
    width: 428px;
    height: 72px;
    box-shadow: 10px 13px 30px -12px #d4d4d4; }
    .test-drive .garanty-m span, .test-drive .garanty-o span {
      display: inline-block;
      position: relative;
      width: 310px;
      padding-top: 15px;
      padding-left: 25px;
      letter-spacing: -1.4px;
      line-height: 22px; }
    .test-drive .garanty-m img, .test-drive .garanty-o img {
      display: inline-block; }
  .test-drive .garanty-m {
    margin-top: 35px;
    margin-left: -30px; }
  .test-drive .garanty-o {
    margin-top: 20px;
    margin-left: -30px; }

.laptop-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px; }
  .laptop-wrap img {
    width: 428px;
    height: 200px; }

.test-form {
  width: 412px;
  height: 444px;
  margin-top: 65px;
  margin-left: 62px;
  color: #ffffff;
  border-radius: 10px;
  border: 1px solid transparent; }
  .test-form span {
    display: block;
    margin-top: 58px;
    color: #000000;
    text-align: center;
    letter-spacing: 0.1px;
    font-size: 23px;
    font-weight: 500; }
    .test-form span span {
      margin-top: 10px; }
  .test-form .test-btn {
    margin-left: 51px;
    margin-top: 10px; }
    .test-form .test-btn span {
      color: #ffffff;
      display: inline;
      padding-left: 30px;
      font-size: 18px;
      font-weight: 500;
      text-shadow: 0 1px 0px #4a8929; }

#test-name, #test-phone {
  margin-left: 51px; }

#test-name {
  margin-top: 35px; }

#test-phone {
  margin-top: 10px; }

.test-form .test-check {
  letter-spacing: -0.3px;
  font-size: 10px;
  font-weight: 500; }
  .test-form .test-check span {
    display: inline;
    font-size: 10px;
    font-weight: 100;
    font-weight: 500; }

.steps {
  margin-top: 110px; }
  .steps h1 {
    margin-left: 0px;
    font-size: 35px;
    text-align: center;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: -0.1px; }
  .steps .items-wrap {
    max-width: 1200px;
    margin-top: 47px;
    margin-left: auto;
    margin-right: auto; }
  .steps .step-1, .steps .step-2, .steps .step-3, .steps .step-4, .steps .step-5 {
    width: 225px;
    height: 419px;
    background-color: #ffffff;
    border-radius: 10px; }
    .steps .step-1 img, .steps .step-2 img, .steps .step-3 img, .steps .step-4 img, .steps .step-5 img {
      border-radius: 10px 10px 0px 0px;
      position: relative;
      display: block; }
    .steps .step-1 h2, .steps .step-2 h2, .steps .step-3 h2, .steps .step-4 h2, .steps .step-5 h2 {
      width: 225px;
      position: relative;
      margin-top: 33px;
      text-align: center;
      font-size: 18px; }
      .steps .step-1 h2::before, .steps .step-2 h2::before, .steps .step-3 h2::before, .steps .step-4 h2::before, .steps .step-5 h2::before {
        content: "1";
        position: absolute;
        color: #67ab42;
        width: 45px;
        height: 45px;
        top: -55px;
        left: 90px;
        padding-top: 10px;
        border-radius: 50px;
        background: #ffffff;
        z-index: 600; }
    .steps .step-1 p, .steps .step-2 p, .steps .step-3 p, .steps .step-4 p, .steps .step-5 p {
      width: 210px;
      margin: 0px;
      padding-left: 15px;
      text-align: center;
      letter-spacing: -0.5px;
      line-height: 22px;
      font-size: 16px; }
  .steps .step-1 {
    height: 463px; }
    .steps .step-1 a {
      display: block;
      position: relative;
      width: 174px;
      height: 43px;
      margin-top: 20px;
      margin-left: 25px;
      padding-top: 8px;
      padding-left: 22px;
      color: #ffffff;
      font-weight: 500;
      background: linear-gradient(to top, #63a440, #7dce4e);
      border-bottom: 3px solid #4c8d27;
      border-radius: 50px;
      box-shadow: 0 5px 10px #bbdba8;
      -moz-transition-property: box-shadow;
      -o-transition-property: box-shadow;
      -webkit-transition-property: box-shadow;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s; }
      .steps .step-1 a:hover {
        background: linear-gradient(to top, #68aa44, #88d659);
        box-shadow: 0 5px 20px #91c572;
        text-decoration: none; }
      .steps .step-1 a span {
        padding-top: 0px;
        font-size: 15px;
        font-weight: 500;
        text-shadow: 0 1px 0px #4a8929; }
  .steps .step-2 h2::before {
    content: "2"; }
  .steps .step-3 h2::before {
    content: "3"; }
  .steps .step-4 h2::before {
    content: "4"; }
  .steps .step-5 h2::before {
    content: "5"; }

.about-us {
  text-align: center; }
  .about-us h1 {
    margin-top: 75px; }
  .about-us p {
    margin-top: 15px;
    line-height: 1.4; }
    .about-us p span {
      font-weight: 500; }
  .about-us .projects {
    max-width: 1200px !important;
    margin-top: 42px; }
    .about-us .projects p {
      font-size: 14px;
      line-height: 20px; }

.video {
  height: 751px;
  margin-top: 70px;
  background: url(../img/video-bg.png) center no-repeat; }
  .video .highline {
    text-align: center;
    font-weight: 500; }
    .video .highline h1 {
      margin-top: 77px; }
      .video .highline h1 span {
        color: #67ab42; }
    .video .highline p {
      margin-top: 18px;
      font-weight: normal; }
  .video .video-cont {
    margin-top: 47px;
    padding-left: 100px; }
    .video .video-cont a {
      position: relative; }
      .video .video-cont a::before {
        content: url(../img/play.svg);
        position: absolute;
        width: 122px;
        height: 122px;
        top: 171px;
        left: 407px;
        padding: 37px 33px 47px 40px;
        background: linear-gradient(to top, #63a440, #7dce4e);
        border: 7px solid #ffffff;
        border-radius: 60px; }
      .video .video-cont a:hover::before {
        background: linear-gradient(to top, #6bae46, #86d856); }
    .video .video-cont img {
      border-radius: 10px;
      box-shadow: 0px 5px 40px 10px #d4d4d4; }

.vlad img {
  margin-top: 87px;
  border-radius: 200px; }
.vlad span {
  display: block;
  margin-top: 25px;
  margin-left: 65px; }
.vlad a {
  display: inline-block;
  margin-top: 23px;
  margin-left: 38px;
  color: #000000; }
  .vlad a:hover {
    text-decoration: none; }
  .vlad a:last-child {
    margin-left: 13px; }
  .vlad a img {
    margin-top: 0px;
    margin-right: 8px;
    display: inline-block; }

.approach .achivs {
  margin-left: 75px; }
  .approach .achivs span {
    display: block;
    position: relative;
    margin-left: 82px;
    letter-spacing: -0.2px;
    line-height: 1.3; }
    .approach .achivs span::before {
      position: absolute;
      width: 54px;
      height: 54px;
      padding: 11px;
      box-shadow: 0 8px 30px -5px #d4d4d4; }
  .approach .achivs .award {
    margin-top: 36px; }
    .approach .achivs .award::before {
      content: url(../img/award.svg);
      left: -80px;
      top: -5px; }
  .approach .achivs .carpentry {
    margin-top: 27px; }
    .approach .achivs .carpentry::before {
      content: url(../img/carpentry.svg);
      left: -79px;
      top: -3px; }
  .approach .achivs .network {
    margin-top: 42px; }
    .approach .achivs .network::before {
      content: url(../img/network.svg);
      padding: 10px;
      left: -79px;
      top: -13px; }
.approach .app-wrap {
  max-width: 1200px !important; }
.approach h1 {
  margin-top: 100px;
  font-size: 45px;
  letter-spacing: -0.1px;
  line-height: 1.3; }
.approach h2 {
  margin-top: 25px;
  margin-bottom: 5px;
  font-size: 22px;
  font-weight: 500; }

.coast {
  height: 416px;
  margin-top: 85px;
  background: url(../img/coast-bg.png) center no-repeat;
  text-align: center;
  color: #ffffff; }
  .coast h1 {
    margin-top: 78px;
    font-size: 35px;
    font-weight: 500;
    line-height: 1.3; }
    .coast h1 span {
      color: #67ab42; }
  .coast p {
    margin-top: 12px;
    line-height: 1.4; }
  .coast .coast-btn {
    margin-top: 15px;
    margin-left: 0px;
    padding-left: 0px;
    cursor: pointer;
    box-shadow: 0 5px 10px #3d582d; }
    .coast .coast-btn:hover {
      box-shadow: 0 5px 20px #91c572; }
    .coast .coast-btn span {
      text-shadow: 0 1px 0px #4a8929; }

.contacts h1 {
  margin-top: 74px;
  text-align: center;
  font-weight: 500; }
.contacts span {
  display: block;
  position: relative;
  padding-left: 65px;
  font-size: 20px;
  font-weight: 500; }
  .contacts span::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 41px;
    left: 10px;
    top: -10px; }
.contacts p {
  margin-top: 9px;
  margin-left: 65px;
  font-size: 22px;
  font-weight: 100; }
.contacts .address {
  margin-top: 130px; }
  .contacts .address::before {
    background: url(../img/placeholder.svg) center no-repeat;
    background-size: contain; }
.contacts .phone {
  margin-top: 30px; }
  .contacts .phone::before {
    width: 28px;
    left: 12px;
    background: url(../img/phone.svg) center no-repeat;
    background-size: contain; }
.contacts .mail {
  margin-top: 28px; }
  .contacts .mail::before {
    background: url(../img/mail.svg) center no-repeat;
    background-size: contain; }
.contacts .socials {
  margin-top: 27px; }
.contacts .cont-wrap a {
  display: inline-block;
  margin-top: 13px;
  margin-right: 8px; }
  .contacts .cont-wrap a:nth-child(8) {
    margin-left: 65px; }
.contacts .map-wrap {
  width: 610px;
  height: 455px;
  margin-top: 53px;
  margin-left: -30px;
  border: 5px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0px 20px 30px 0px #d4d4d4; }

footer {
  height: 110px;
  margin-top: 85px;
  background-color: #343434; }
  footer .foot-wrap {
    max-width: 1200px !important; }
  footer .logo {
    display: block;
    margin-top: 46px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase; }
    footer .logo:hover {
      color: #d4d4d4;
      text-decoration: none; }
  footer .slogan {
    color: #ffffff;
    font-weight: 100;
    font-size: 16px; }
    footer .slogan p {
      letter-spacing: -0.1px;
      margin-top: 35px;
      margin-left: -33px; }
  footer .privacy {
    display: inline-block;
    margin-top: 45px;
    color: #ffffff;
    letter-spacing: -0.1px;
    border-bottom: 1px solid #d4d4d4;
    font-size: 16px;
    font-weight: 100; }
    footer .privacy:hover {
      color: #d4d4d4;
      text-decoration: none; }
  footer .autors {
    display: inline-block;
    margin-top: 35px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 100; }
    footer .autors:hover {
      text-decoration: none;
      color: #d4d4d4; }

.call-back-form {
  max-width: 412px;
  min-width: 320px;
  height: 390px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 70px;
  border-radius: 10px;
  background-color: #ffffff; }
  .call-back-form h2 {
    display: block;
    text-align: center; }
  .call-back-form .call-back-btn {
    margin-left: 54px;
    padding-left: 70px; }
    .call-back-form .call-back-btn span {
      cursor: pointer; }
  .call-back-form .test-check {
    display: block;
    position: relative;
    margin-left: 88px;
    font-size: 10px;
    font-weight: 500;
    padding: 10px; }
    .call-back-form .test-check::before {
      content: url(../img/check.png);
      position: absolute;
      left: -14px;
      top: 12px;
      width: 15px;
      height: 15px; }
    .call-back-form .test-check span {
      border-bottom: 1px solid #d4d4d4; }

#call-back-input {
  display: inline-block;
  position: relative;
  width: 304px;
  height: 60px;
  margin-top: 20px;
  margin-left: 54px;
  padding-left: 63px;
  border: none;
  border-radius: 40px;
  box-shadow: inset 0 3px 20px #ebebeb;
  font-size: 15px;
  font-weight: 100; }
  #call-back-input:focus {
    outline: none; }

/*# sourceMappingURL=main.css.map */
