/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
    .logo a {
        margin-left: 0px;
    }
    .slogan p {
        margin-left: 0px;
    }
    .phone a:first-child {
        margin: 0px;
    }
    .phone a:nth-child(2) {
        margin: 0px;
    }
    .phone span {
        left: 113px;
    }
    .phone a:last-child {
        left: 116px;
    }
    .presipresentation .pres-3 {
        margin-top: 15px;
    }
    .main-screen h1 {
        margin-left: 0px;
    }
    .main-screen p {
        margin-left: 0px;
    }
    .main-butns .tool::before {
        left: 3px;
        top: 26px;
    }
    .main-butns .tool {
        padding-left: 122px;
        padding-top: 30px;
    }
    .main-butns .van::before {
        top: 34px;
        left: 0px;
    }
    .main-butns .van {
        padding-top: 30px;
        padding-left: 122px;
    }
    .main-butns .calculate {
        margin-left: 0px;
        margin-top: 60px;
    }
    .dwnld-form h2 {
        margin-left: 70px;
    }
    #download-phone {
        margin-left: 93px;
    }
    .dwnld-form .download-btn {
        margin-left: 93px;
    }
    .dwnld-form .agreement {
        margin-left: 132px;
    }
    .video .video-cont {
        padding-left: 0px;
    }
    .frozen {
        height: auto;
        background-position: top;
    }
    .frozen h1 {
        margin-top: 35px;
    }
    .frozen .fr-wrap {
        text-align: center;
        margin-left: 0px;
    }
    .frozen .fr-wrap .stock::before {
        left: 300px;
    }
    .frozen .fr-wrap p {
        width: auto;
    }
    .frozen .fr-wrap .disigner {
        margin-top: 70px;
        padding-left: 0px;
    }
    .frozen .fr-wrap .disigner::before {
        left: auto;
        top: -60px;
    }
    .frozen .frozen-form {
        margin-left: 0;
        box-shadow: 0px 15px 30px -10px #d4d4d4;
    }
    .contacts .map-wrap {
        margin-left: 0px;
    }
    .test-drive {
        height: auto;
        background-image: none;
    }
    .test-drive h1, .test-drive p, .test-drive .garanty-m, .test-drive .garanty-o {
        margin-left: 0px;
        text-align: center;
    }
    .test-drive p, .test-drive .garanty-m, .test-drive .garanty-o {
        margin-left: auto;
        margin-right: auto; 
    }
    .test-form {
        margin-top: -23px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        box-shadow: 0px 15px 30px 5px #d4d4d4;
    }
    .steps {
        background: url(../img/steps-bg-mob.png) center no-repeat
    }
    .steps h1 {
        margin-left: 0px;
    }
    .steps .dots-wrap {
        padding-bottom: 30px;
    }
    .vlad {
        text-align: center;
    }
    .approach .achivs {
        margin-left: auto;
        margin-right: auto;
        max-width: 550px;
    }
    footer .slogan p {
        margin-left: 0px;
    }
    footer .privacy {
        margin-left: 10px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}