$main-color: #67ab42
body
    font-family: 'Gotham Pro'
    font-size: 18px
    line-height: 20px
    lletter-spacing: .1px
h1
    font-size: 35px
h2
    font-size: 22px

.main-head
    height: 796px
    padding-top: 39px
    background: url("../img/header-bg.png") center

.logo
    a
        display: block
        margin-top: 12px
        margin-left: -33px
        text-transform: uppercase
        color: #000000
        font-weight: 600

.slogan
    p
        width: 350px
        margin-left: -68px
        letter-spacing: -1.3px
        font-weight: 100

.phone
    position: relative
    a
        font-weight: 100
        &:first-child
            margin-left: 45px
        &:nth-child(2)
            margin-left: 10px
        &:last-child
            position: absolute
            width: 216px
            top: 22px
            left: 178px
            letter-spacing: -1.3px
            color: #000000
            text-decoration: underline #a8a7a7
            &:hover
                color: #a8a7a7
    span
        position: absolute
        width: 211px
        top: -2px
        left: 185px
        font-size: 22px
        font-weight: 500
.main-screen
    padding-top: 43px
    h1
        width: 100%
        margin-left: -33px
        font-size: 40px
        font-weight: 600
        line-height: 57px
        letter-spacing: -.3px
    span
        color: $main-color
    p
        width: 90%
        margin-top: 17px
        margin-left: -33px
        font-size: 25px
        font-weight: 100
        line-height: 30px
        letter-spacing: -.2px
.main-butns
    .tool
        position: relative
        padding-top: 45px
        padding-left: 92px
        font-weight: 100
        &::before
            content: ""
            position: absolute
            width: 92px
            height: 42px
            top: 35px
            left: -35px
            background: url(../img/tool.svg) no-repeat
    .van
        position: relative
        padding-top: 36px
        padding-left: 95px
        line-height: 25px
        font-weight: 100
        &::before
            content: ""
            position: absolute
            width: 102px
            height: 42px
            top: 40px
            left: -38px
            background: url(../img/van.svg) no-repeat
    .calculate
        display: flex
        align-items: center
        margin-top: 65px
        margin-left: -30px
        width: 376px
        height: 83px
        color: #ffffff
        font-size: 22px
        font-weight: 500
        background: linear-gradient(to top, #63a440, #7dce4e)
        border-bottom: 3px solid #4c8d27
        border-radius: 40px
        box-shadow: 0 10px 16px #bbdba8
        -moz-transition-property: background, box-shadow
        -o-transition-property: background, box-shadow
        -webkit-transition-property: background, box-shadow
        -moz-transition-duration: .3s
        -o-transition-duration: .3s
        -webkit-transition-duration: .3s
        &:hover
            background: linear-gradient(to top, #68aa44, #88d659)
            text-decoration: none
            box-shadow: 0 10px 20px #91c572
        span
            position: relative
            margin-left: 45px
            &::after
                content: ""
                position: absolute
                left: 259px
                width: 25px
                height: 25px
                background: url(../img/arrow.svg) center no-repeat
                filter: brightness(100)
.video-wrap
    position: absolute
    top: 468px
    .videos
        padding-left: 272px
        .under-wrap
            display: inline-block
            position: relative
            width: 205px
            height: 58px
            top: -25px
            padding-top: 5px
            padding-left: 39px
            border-radius: 5px
            font-size: 16px
            font-weight: 100
            background-color: #fff
            line-height: 23px
        .play
            display: inline-block
            position: relative
            width: 83px
            height: 83px
            margin: 0
            left: 22px
            cursor: pointer
            background: linear-gradient(to top, #63a440, #7dce4e)
            border-radius: 50px
            z-index: 500
            -moz-transition-property: background
            -o-transition-property: background
            -webkit-transition-property: background
            &:hover
                background: linear-gradient(to top, #6bae46, #86d856)
            &::before
                content: ""
                position: absolute
                width: 27px
                height: 27px
                top: 28px
                left: 32px
                background-image: url(../img/play.svg)
                filter: brightness(100)
        .under
            border-bottom: 1px solid gray
            line-height: 2px

.presipresentation
    padding-top: 87px
    .pres-1, .pres-2, .pres-3
        width: 380px
        border-radius: 10px
        box-shadow: 0px 15px 30px #ebebeb
    .pres-1, .pres-2
        margin-right: 15px
    h2
        margin-top: 26px
        text-align: center
    p
        text-align: center
        line-height: 25px
        letter-spacing: -.2px
        font-weight: 100
    .pres-1
        h2
            text-align: center
        p
            padding-top: 10px
            padding-left: 23px
            padding-right: 23px
            padding-bottom: 14px
    .pres-2
        h2
            padding-left: 30px
            padding-right: 25px
            line-height: 30px
        p
            padding-left: 15px
            padding-right: 15px
    .pres-3
        p
            padding-top: 10px
            padding-left: 28px
            padding-right: 28px

.download
    height: 747px
    margin-top: 86px
    background: url(../img/download-pres.png) center
    .download-hl
        text-align: center
        color: #ffffff
        padding-top: 45px
        h1
            line-height: 44px
        span
            color: $main-color
        p
            padding-top: 8px
            letter-spacing: -.2px
            font-weight: 100
.dwnld-form
    margin-top: 105px
    h2
        width: 350px
        margin-left: 126px
        text-align: center
        letter-spacing: .5px
        line-height: 30px
#download-phone
    display: inline-block
    position: relative
    width: 304px
    height: 60px
    margin-top: 20px
    margin-left: 145px
    padding-left: 63px
    border: none
    border-radius: 40px
    box-shadow: inset 0 3px 20px #ebebeb
    font-size: 15px
    font-weight: 100
    &:focus
        outline: none
.phone-ico
    position: relative
    &::before
        content: ""
        position: absolute
        width: 19px
        height: 18px
        left: -274px
        top: -7px
        background: url(../img/telephone.svg)
        background-repeat: no-repeat

.dwnld-form, .frozen-form
    .download-btn
        display: block
        position: relative
        width: 304px
        height: 72px
        margin-left: 145px
        margin-top: 15px
        padding-top: 24px
        padding-left: 36px
        color: #ffffff
        font-weight: 500
        background: linear-gradient(to top, #63a440, #7dce4e)
        border-bottom: 3px solid #4c8d27
        border-radius: 50px
        box-shadow: 0 5px 10px #bbdba8
        -moz-transition-property: box-shadow
        -o-transition-property: box-shadow
        -webkit-transition-property: box-shadow
        -moz-transition-duration: .3s
        -o-transition-duration: .3s
        -webkit-transition-duration: .3s
        &:hover
            background: linear-gradient(to top, #68aa44, #88d659)
            box-shadow: 0 5px 20px #91c572
            text-decoration: none
        span
            text-shadow: 0 1px 0px #4a8929
            &:after
                content: ""
                position: absolute
                display: inline-block
                left: 251px
                top: 25px
                width: 19px
                height: 19px
                background-image: url(../img/download.svg)
                filter: brightness(100)
    .agreement
        display: block
        position: relative
        margin-left: 188px
        font-size: 10px
        font-weight: 500
        padding: 10px
        &::before
            content: url(../img/check.png)
            position: absolute
            left: -14px
            top: 12px
            width: 15px
            height: 15px
        span
            border-bottom: 1px solid #d4d4d4

.materials
    padding-top: 77px
    text-align: center
    h1
        width: 600px
        span
            color: $main-color
    .material-photo
        margin-top: 60px
        min-width: 71% !important
        .second
            margin-top: 80px
        h2
            margin-top: 30px
            font-weight: 600

.rooms
    padding-top: 83px
    span
        color: $main-color

.room-row-1, .room-row-2
    margin-top: 55px
    margin-left: 19%
    margin-right: 19%
    text-align: center
    h2
        margin-top: 30px
.room-row-2
    margin-top: 35px
.room-wrap
    width: 228px
    height: 349px
    border-radius: 10px
    box-shadow: 0px 15px 30px #ebebeb
.garderob
    height: auto
    h2
        padding-bottom: 25px

.frozen
    height: 593px
    margin-top: 85px
    background-image: url(../img/froze-bg.png)
    background-position: center
    background-repeat: no-repeat
    h1
        margin-top: 125px
        margin-bottom: 23px
        font-size: 39px
        font-weight: 500
        letter-spacing: -.5px
        line-height: 50px
        span
            color: $main-color
    .fr-wrap
        margin-left: -31px
        color: #ffffff
        .stock
            display: block
            position: relative
            margin-bottom: 24px
            padding-left: 50px
            letter-spacing: .2px
            font-weight: 100
            &::before
                content: ""
                position: absolute
                width: 30px
                height: 30px
                left: 0px
                top: -8px
                background-image: url(../img/gift.svg)
            span
                color: $main-color
        p
            width: 540px
            line-height: 25px
            font-weight: 100
        .disigner
            display: block
            position: relative
            padding-top: 25px
            padding-left: 80px
            font-size: 16px
            font-weight: 100
            &::before
                content: ""
                position: absolute
                width: 62px
                height: 79px
                top: -3px
                left: 0px
                background-image: url(../img/designer.png)

            span
                display: block
    .frozen-form
        width: 412px
        height: 444px
        margin-top: 75px
        margin-left: 156px
        background-color: #ffffff
        border-radius: 10px
        text-align: center
        padding-top: 57px
        h2
            width: 290px
            font-size: 23px
            font-weight: 600
            &:last-child
                margin-top: -6px
        .frozen-btn
            margin-left: 55px 
            margin-top: 10px
            padding-left: 0px
            span
                text-shadow: 0 1px 0px #4a8929
                &:after
                    content: none

#frozen-name
    display: inline-block
    position: relative
    width: 304px
    height: 60px
    margin-top: 23px
    padding-left: 63px
    border: none
    border-radius: 40px
    box-shadow: inset 0 5px 20px #ebebeb
    font-size: 15px
    font-weight: 100
    &:focus
        outline: none


#frozen-phone
    display: inline-block
    position: relative
    width: 304px
    height: 60px
    margin-top: 10px
    padding-left: 63px
    border: none
    border-radius: 40px
    box-shadow: inset 0 5px 20px #ebebeb
    font-size: 15px
    font-weight: 100
    &:focus
        outline: none
.user-ico
    position: relative
    &::before
        content: ""
        position: absolute
        width: 19px
        height: 18px
        left: -274px
        top: -7px
        background: url(../img/user.svg)
        background-repeat: no-repeat

.frozen-agreement
    display: block
    position: relative
    margin-top: 11px
    padding-left: 28px
    font-size: 10px
    font-weight: 500
    span
        color: #000000
        border-bottom: 1px solid #d4d4d4
    &::before
        content: url(../img/check.png)
        position: absolute
        left: 83px
        top: 3px
        width: 15px
        height: 15px

.gallery
    margin-top: 78px
    text-align: center
    h1
        letter-spacing: -.3px
        font-weight: 600
        span
            color: $main-color
.gallery-wrap
    margin-top: 56px
    .g-item
        padding: 4px
        &:first-child
            padding-left: 0px
        &:nth-child(5)
            padding-right: 0px
        &:nth-child(6)
            padding-left: 0px
        &:nth-child(10)
            padding-right: 0px
        a
            position: relative
            &::before
                content: ""
                position: absolute
                width: 374px
                height: 376px
                -moz-transition-property: background-color, content
                -o-transition-property: background-color, content
                -webkit-transition-property: background-color, content
                -moz-transition-duration: .7s
                -o-transition-duration: .7s
                -webkit-transition-duration: .7s
            &::after
                content: ""
                position: absolute
                width: 59px
                height: 59px
                top: -17px
                left: 157px
                filter: brightness(900)
            &:hover
                &::before
                    background-color: rgba(0, 0, 0, .7)
                &::after
                    content: url(../img/addition.svg)
.pop-g
    img
        width: 374px
        height: 376px